code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dress-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.card-details {
  display: flex;
}

.card-detail {
  display: flex;
  align-items: center; /* Vertically align content */
  margin-right: 20px; /* Add spacing between card details */
}

.icon {
  margin-right: 5px; /* Add spacing between icon and value */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
  grid-gap: 20px;
}

.card {
  width: 100%;
  background-color: #fff8f7 !important;
}
.preview-image {
  width: 100%;
  max-height: 100px; /* You can adjust this value as needed */
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer; /* Add a cursor pointer to indicate that the image is clickable */
}
.preview-image-sm {
  width: 50px;
  max-height: 50px; /* You can adjust this value as needed */
  object-fit: cover;
  margin-right: 10px;
}

.original-size {
  max-height: none; /* Remove the max-height constraint to show the original size */
}
.modal-bg {
  background-color: #fff8f7;
}

.navbar-container {
  background-color: #fff8f7 !important; /* Change the background color as desired */
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust the card width */
  gap: 16px; /* Adjust the gap between cards */
}
.card-select:hover {
  transform: scale(1.05);
}
.selected-dress {
  border: 2px solid green !important;
}

/* Styling for parallax */
body {
  margin: 0;
  font-family: "Euclid Circular A";
  color: #1d1d1d;
  background: #071a20;
  overflow-x: hidden;
}

p,
h2 {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
}
h1 {
  color: white !important;
  text-shadow: 1px 1px 3px black;
  z-index: 1;
  font-size: 3em;
  font-weight: 400;
}
p {
  opacity: 0.8;
}

section {
  padding: 40px 0;
}
.custom-select {
  border-color: pink !important;
}

select option:hover {
  background-color: pink !important;
}

.image {
  height: 380px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../public/bg.avif");
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: relative;
}

.text::before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 101%;
  height: 100%;
  background: #ffffff;
  rotate: -3deg;
  translate: -50% -50%;
}

/* Change Bootstrap pagination color */
.pagination .page-item.active .page-link {
  background-color: pink;
  border-color: pink;
  color: #333; /* Set the text color for the active page */
}

.pagination .page-item .page-link {
  background-color: transparent;
  border-color: pink;
  color: pink; /* Set the text color for the inactive pages */
}

.pagination .page-item.disabled .page-link {
  background-color: transparent;
  border-color: pink;
  color: #bbb; /* Set the text color for disabled pages */
}

/* Optionally, you can style the hover effect */
.pagination .page-item:hover .page-link {
  background-color: #fff8f7;
  color: #333;
}

.social-media a {
  text-decoration: none;
  color: gray;
}
.social-media {
  margin-top: 20px !important;
}
