code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dress-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.card-details {
  display: flex;
}

.card-detail {
  display: flex;
  align-items: center; /* Vertically align content */
  margin-right: 20px; /* Add spacing between card details */
}

.icon {
  margin-right: 5px; /* Add spacing between icon and value */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
  grid-gap: 20px;
}

.card {
  width: 100%;
}
.preview-image {
  width: 100%;
  max-height: 100px; /* You can adjust this value as needed */
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer; /* Add a cursor pointer to indicate that the image is clickable */
}
.preview-image-sm {
  width: 50px;
  max-height: 50px; /* You can adjust this value as needed */
  object-fit: cover;
  margin-right: 10px;
}

.original-size {
  max-height: none; /* Remove the max-height constraint to show the original size */
}
.my-modal .modal-content {
  background-color: #fff8f7;
}
