code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dress-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.card-details {
  display: flex;
}

.card-detail {
  display: flex;
  align-items: center; /* Vertically align content */
  margin-right: 20px; /* Add spacing between card details */
}

.icon {
  margin-right: 5px; /* Add spacing between icon and value */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
  grid-gap: 20px;
}

.card {
  width: 100%;
}

